<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>AppIcon-mac</string>
	<key>UIAppFonts</key>
	<array>
		<string>HP15C-Simulator-Font.ttf</string>
	</array>
</dict>
</plist>
